@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.App {
  text-align: center;
  background-size: 100%;
}

.App-background {
  position: relative;
  background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Food-vegetables-mushrooms-peppers-tomatoes-spoons-photos-2560x1600-PIC-WPD006575.jpg");
  background-repeat: repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Background-opacity {
  background: rgba(255, 255, 255, 0.5);
  min-height: 100vh;
  min-width: 205vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Background-opacity-results {
  background: rgba(255, 255, 255, 0.5);
  min-height: 100vh;
  min-width: 500vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-field {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 86vh;
  height: 60vh;
  justify-content: center;
  align-items: center;
  border-color: lightgrey;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  -webkit-animation: mymove2 0.5s;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.App-field-results {
  background: rgba(255, 255, 255, 0.8);
  width: 130vh;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  border-color: lightgrey;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  -webkit-animation: mymove 0.5s;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes mymove {
  from {
    width: 86vh;
    height: 60vh;
  }

  to {
    width: 130vh;
    min-height: 80vh;
  }
}

@keyframes mymove {
  from {
    width: 86vh;
    height: 60vh;
  }

  to {
    width: 130vh;
    min-height: 80vh;
  }
}

@-webkit-keyframes mymove2 {
  from {
    width: 130vh;
    height: 100vh;
  }

  to {
    width: 86vh;
    height: 60vh;
  }
}

@keyframes mymove2 {
  from {
    width: 130vh;
    height: 100vh;
  }

  to {
    width: 86vh;
    height: 60vh;
  }
}

.Introductory-text {
  font-size: 4vh;
  padding-top: 15vh;
  padding-left: 11vh;
  padding-right: 11vh;
  text-align: center;
}

.Input-fields {
  padding-top: 3vh;
  padding-left: 4vh;
  padding-right: 4vh;
}

.Button2 {
  background-color: #e64a19;
  font-size: 20px;
  color: white;
  opacity: 1;
  height: 60px;
  width: 150px;
  margin: 0px 3vh 1vh 3vh;
  border-radius: 8px;
  border-style: solid;
  border-width: medium;
  text-decoration: none;
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: #e64a19;
    color: #fff;
  }
}

.Button2:hover,
.Button2:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #FFAB91;
  }
}

/* .Button2:hover {
  cursor: pointer;
  background-color: #FF5722;
} */
.Button2:active {
  background-color: #FF5722;
  box-shadow: 0 2px white;
  transform: translateY(2px);
}

.HomeButton {
  color: #E65100;
  background-color: transparent;
  font-size: 17px;
  height: 70%;
  width: 14%;
  font-family: helvetica;
  font-weight: lighter;
  padding: 1vh;
  border: solid 1px #E65100;
  border-radius: 18px 18px 18px 18px;
  cursor: pointer;
  margin-top: 1vh;
  margin-right: 106vh;
  color: #E65100;
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: #FF7043;
    color: #fff;
  }
}

.HomeButton:hover,
.HomeButton:focus {
  box-shadow:
    inset -12em 0 0 0 #FF7043;
  /* inset 4.5em 0 0 0 #FF7043; */
  color: white;
  border-color: #FF7043;
}

/* .HomeButton:hover {
  background-color: #FF7043;
  border-color: #FF7043;
  color: white;
} */
.HomeButton:active {
  background-color: #FF7043;
  box-shadow: 0 2px white;
  transform: translateY(2px);
}

.RecipeHeading {
  padding-right: 12vh;
  padding-bottom: 2vh;
  font-size: 30px;
}

.RecipeName {
  font-family: 'Shadows Into Light';
  letter-spacing: 3px;
  color: #322626;
  font-size: 3vh;
  padding-top: 4vh;
  padding-left: 4vh;
  padding-right: 3.5vh;
}

.RecipeImage {
  max-width: 45vh;
  max-height: 40vh;
  min-height: 300px;
  margin-right: 10vh;
  border-radius: 4px;
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.2), 0 30px 40px 0 rgba(0, 0, 0, 0.19);
}

.MatchCount {
  color: #E65100;
  padding-top: 10px;
  padding-bottom: 4vh;
  font-family: helvetica;
}

.Url {
  color: #E65100;
  font-size: 17px;
  font-family: helvetica;
  font-weight: lighter;
  padding: 9px;
  margin-left: 2vh;
  border: solid 1px #E65100;
  border-radius: 5px;
  transition: all 0.5s;
}

.Url span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #E65100;
}

.Url span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Url:hover span {
  padding-right: 25px;
}

.Url:hover span:after {
  opacity: 1;
  right: 0;
}